// See? Bootstrap is here if you want it
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// See? SCSS is here if you want it
.example-header {
  text-align: center;
  .example-header-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
  }
  .example-header-logo {
    height: 50px;
  }
}

#map {
	height: 400px;
}

#photoSet {
	height: 200px;
	width: 100%;
}

body {
	width: 100%;
	padding: 15px;
	background-color: #ACC4CC;
}

#error {
	color: red;
}

ul {
	list-style: none;
}

.half {
	width: 45%;
	display: inline-block;
	padding: 10px;
}

#businessSection {
	vertical-align: top;
}

#img {
	padding: 15px;
}

#photoSet ul {
	list-style: none;
	display: inline-block;
}