// See? Bootstrap is here if you want it
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// See? SCSS is here if you want it
.example-header {
  text-align: center;
  .example-header-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
  }
  .example-header-logo {
    height: 50px;
  }
}

#map {
	height: 400px;
	width: 50%;
}

#photoSet {
	height: 200px;
}

body {
	width: 100%;
	padding: 15px;
}

#error {
	color: red;
}

ul {
	list-style: none;
}